@font-face {
    font-family: "sourcecode";
    src: url(static/SourceCodePro-Black.ttf);
}

/* Global */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "sourcecode", sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

span {
    color: #f96e46;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: "sourcecode";
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Header */
header {
    background-color: #545863;
    color: white;
    padding-top: 30px;
    min-height: 70px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    transition: all 0.3s ease 0s;
}

.icons {
    float: left;
}

header img {
    height: 50px;
}

header #nav-bar {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #f96e46;
    transition: all 0.3s ease 0s;
}

/* Showcase */
#showcase {
    background-color: #545863;
}

#showcase .container {
    background-color: #545863;
    height: 100vh;
    display: grid;
    place-items: center;
  }

.typer {
    color: white;
    font-size: 30px;
    width: 220px;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
    from, to { border-color: #545863 }
    50% { border-color: #f96e46; }
}

/* Projects */
#projects {
    background-color: #545863;
    text-align: center;
}

#projects .box {
    width: 550px;
    padding: 10px;
    display: inline-block;
}

.box img {
    width: 100%;
    height: auto;
}

.box .desc {
    padding: 15px;
    text-align: center;
    color: white;
}

/* About */
#about {
    background-color: #545863;
}

#about .body {
    display: grid;
    align-items: center; 
    grid-template-columns: 40% 60%;
    column-gap: 5px;
}

#about .profile-pic {
    margin-left: 20%;
}

#about .desc {
    margin-left: 100px;
    color: white;
}

/* Skills */
#skills {
    background-color: #545863;
    text-align: center;
}

#skills h2 {
    width: 200px;
    font-size: 25px;
    margin: auto;
    text-align: center;
    background-color: #f96e46;
    color: #545863;
    padding: 20px;
    border-radius: 10px;
}

#skills .col {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
    text-align: center;
}

#skills .code-icons {
    display: grid;
    padding-top: 30px;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

#skills .code-icons img {
    height: 100px;
}

/* Contact */
#contact {
    background-color: #545863;
    padding-bottom: 50px;
}

#contact h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}
 
form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
   
   input, textarea {
      border:0; outline:0;
      padding: 1em;
      border-radius: 8px;
      display: block;
      width: 100%;
      margin-top: 1em;
      font-family: "sourcecode", sans-serif;
      resize: none;
    }
}
   
#input-submit {
    color: white; 
    background: #f96e46;
    cursor: pointer;
     
}
   
textarea {
    height: 126px;
}
 
.half {
   float: left;
   width: 48%;
   margin-bottom: 1em;
}
 
.right { 
    width: 50%; 
}
 
.left {
      margin-right: 2%; 
}

/* Footer */
footer {
    background-color: #f96e46;
    text-align: center;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 50px;
    background-color: #545863;
    border-radius: 10px;
}

footer p {
    color: white;
    font-size: 20px;
}

@media (max-width: 850px) {
    header {
        margin: auto;
        text-align: center;
    }
    
    header li {
        width: 80%;
        margin-left: 10%;
    }

    header .icons {
        display: none;
    }
}

@media (max-width: 680px) {
    #projects .box {
        width: 80%;
    }
}

@media (max-width: 800px) {
    #about {
        text-align: center;
        padding-bottom: 30px;
    }

    #about .body {
        display: block;
    }

    #about .profile-pic {
        margin: auto;
    }
    
    #about .desc {
        margin: auto;
        text-align: center;
        width: 70%;

    }
}

@media screen and (max-width: 1100px) {
    #skills .col {
      width: 100%;
    }

    #skills .code-icons {
        display: grid;
        padding-top: 30px;
        justify-content: center;
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: repeat(3, 100px);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
    
    #skills .code-icons img {
        height: 75px;
    }

}

@media (max-width: 480px) {
    #contact .half {
       width: 100%; 
       float: none;
       margin-bottom: 0; 
    }
}